<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <connectionStrings>
    <add name="AppDbContext" connectionString="Data Source=.;Initial Catalog=AutomateTesting;Integrated Security=True;Application Name=AutomateTesting" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>