<div id="delivery">
    <div>
        <h1>Order Confirmation</h1>
        <div id="order-success" class="message">
            <h2>Thank you for your order!</h2>
            <p>
                We are processing your order and have sent a confirmation email. Thank you for your
                business and enjoy!
            </p>
        </div>
        <p>
            <a class="back" href="@Url.Action("ChooseProduct")">Continue Shopping</a>
        </p>
    </div>
</div>
