<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="seleniumDriver" value="C:\Users\Snahider\Documents\Visual Studio 2010\Projects\ATesting\WebTesting\Drivers"/>
  </appSettings>
  <connectionStrings>
    <add name="Bakery" connectionString="Data Source=.;Initial Catalog=Bakery;Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>